* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: rgb(2, 2, 65); */
  background-image: url(./img/beam\ light.jpg);
  background-size: cover;
  color: rgb(241, 235, 203);
}
.clock-container {
  background: rgba(0, 27, 85, 0.72);
  width: 620px;
  height: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  margin-top: 440px;
  padding: 1rem;
  border-radius: 20px;
  border: 2px solid rgb(220, 204, 112);
}

.date-container {
  display: flex;
  text-align: center;
  margin: 0.5rem;
  font-size: 1.1rem;
  margin-top: 15px;
}

/* .day, .month, .date, .year {
  padding: .1rem;
} */

.time-container {
  font-size: 4.5rem;
  margin-bottom: 15px;
}
